body {"
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  color: rgb(68, 68, 68);
}

.hidden {
  display: none;
}

.revealed {
  display: inline-block;
}

.panel {
  width: 800px;
}

.panel-success {
  margin: 0 auto;
}

.panel:not(.panel-success) {
  height: 480px
}
